<%+header%>
<meta name="csrf-token" content="<%=luci.dispatcher.context.authsession%>">
<iframe class="honk-app" src="/luci-static/resources/honk-legacy/app/index.html?v=20260803-legacy" title="<%:Honk Legacy 管理面板%>"></iframe>
<style>.honk-app{display:block;width:100%;height:calc(100dvh - 72px);min-height:680px;border:0;background:transparent}#floating-toolbar,.floating-toolbar{display:none!important}@media(max-width:720px){.honk-app{height:calc(100dvh - 62px);min-height:620px}}</style>
<%+footer%>
