name: Version check

on:
  workflow_dispatch:
  schedule:
  - cron: "0 5 * * 5"

jobs:
  deploy:
    name: Version check
    runs-on: ubuntu-24.04
    permissions:
      contents: write  # To push a branch
    steps:
    - uses: actions/checkout@v6

    - name: Init repo
      shell: bash
      run: |
        git config --local user.name "GitHub Action"
        git config --local user.email "actions-user@users.noreply.github.com"

    - name: Initialize Environment
      env:
        DEBIAN_FRONTEND: noninteractive
      shell: bash
      run: |
        sudo apt update
        sudo apt -y install curl jq

    - name: Commit and push files
      shell: bash
      run: |
        cd openwrt-bandix/
        chmod +x ./update.sh
        bash ./update.sh
        git add .
        git diff-index --cached --quiet HEAD ./Makefile \
        || (git commit -m "Update bandix to version $(sed -n 's|RUST_BANDIX_VERSION:=||p' ./Makefile)" && git push)
