name: delete-workflow-runs

on:
  workflow_dispatch:

jobs:
  delete:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: delete
        uses: Mattraks/delete-workflow-runs@v2
        with:
          retain_days: 3
          keep_minimum_runs: 0
